body{
margin:0px;
padding:0px;
background: #009989;
line-height: 2em;
}

/*Navigation styles*/
#navigation {
background: #fff;
margin: 0px;
padding: 0px;
height: 50px;
        //display: block;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
       -webkit-box-shadow: 0px 0px 8px 0px #000000;
       -moz-box-shadow: 0px 0px 8px 0px #000000;
       box-shadow: 0px 0px 8px 0px #000000;
}

#navigation ul{
    list-style-type: none;
    margin: 0px;
}

#navigation ul li{
display: inline-block;
line-height: 50px;
vertical-align: top;
}

#navigation ul li a{
padding: 0px 10px;
         text-decoration: none;
color: #0C162F;
       font-family: Arial, sans-serif;
       font-size: 24px;
display:block;
}

#navigation ul li a:hover{
background: #0C162F;
color: #009989;
}

#content{
width: 70%;
       margin-left: auto;
       margin-right: auto;
background: #009989;
padding: 10px;
padding-top: 80px;
}

#content a{
color: #BFCDB7;
text-decoration: underline;
}

/*Index page styles*/
#acform {
    margin-left: auto;
    margin-right: auto;
}

#acform ul{
    list-style-type: none;
    text-align: center;
}

#acform ul li{
    line-height: 4em;
}

h2, h3, h4, p{
    color: #0C162F;
    font-family: Arial, sans-serif;
    display: inline;
}

h2{
color: #BFCDB7;
font-size: 30px;
text-align: center;
}

p{
    font-size: 24px;
}

h3{
    font-size: 36px;
}

h4{
font-size: 30px;
color: #fff;
}

li 

.box{
display: inline-block;
border: 2px solid #0C162F;
}

#submit {
border: 2px solid #0C162F;
color: #0C162F;
background: #fff;
margin: 20px;
        font-size: 24px;
        font-family: Arial, sans-serif;
}

#submit:hover{
background: #0C162F;
color: #fff;
border: 2px solid #fff;
cursor: pointer;
}

/*Convert page styles*/
.convert{
    text-align: center;
}

.result{
color: #fff;
}

/*Error page stuff*/
#cutepic{
    width: 40%;
    height: auto;
    margin: 10px;
    border: 2px solid white;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/*Footer styles*/
#footer{
   background: #0c162f;
    height: 100px;
    width: 100%;
} 

#footercontent{
margin-left: 50px;
margin-top: 10px;}

.footerp{
font-size:18px;
color: #ffffff;
font-family: "Arial", sans-serif;
margin:0px;
padding: 0px;
display: block;}

#footer a{
color: #BFCDB7;
}

