{% extends "base.html" %}

{% block body %}
<h3>About the Arbitrary Base Converter</h3><br><br>
<p>(Not to be confused with <a href="http://xkcd.com/540/">these bases</a>).  This is a cute project I took up to get introduced to flask.  I'm hoping to improve upon it as time permits, adding more complex base systems to convert to and from.</p><br><br>    
<h3>About me</h3>
<div class="polaroid">
<img src="/static/images/lucypicture3.jpg">
</div>
<h3>Lucy is:</h3>
<ol>
<li class="listitem"> Better at writing lists than paragraphs.  Unless it's a to-do list.</li>
<li class="listitem"> A novice poet</li>
<li class="listitem"> A native Portlander</li>
<li class="listitem"> A college student</li>
<li class="listitem"> An avid nap enthusiast</li>
<li class="listitem"> A web developer (check out <a href="https://github.com/lucywyman">my github</a>)</li>
<li class="listitem"> A runner</li>
<li class="listitem"> A sweet tooth</li>
<li class="listitem"> A fashion expert</li>
<li class="listitem"> A graduate of Cleveland High School and the International Baccalaureate diploma program</li>
<li class="listitem"> A pianist</li>
<li class="listitem"> A volunteer at the Oregon Humane Society</li>
<li class="listitem"> A daughter</li>
<li class="listitem"> A proud sister </li>
<li class="listitem"> A dancer</li>
<li class="listitem"> A space cowgirl</li>
<li class="listitem"> A baker</li>
<li class="listitem"> A feminist</li>
<li class="listitem"> A technologist</li>
<li class="listitem"> A hopeless idealist</li>
</ol>

{% endblock %}
