<!DOCTYPE html>
<html>
<head>
<title>Arbitrary Base Converter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../static/styles.css" type="text/css" rel="stylesheet">
<link href="favicon.ico" type="image/icon" rel="icon">
<!--Google fonts-->

</head>
<body>
<div id="navigation">
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="#">Numeral systems</a></li>
	</ul>
</div>

<div id="content">
	{% block body %}
	{% endblock %}
</div>
<div id="footer">
</div>
</body>
