<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Arbitrary Base Converter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/static/styles.css" type="text/css" rel="stylesheet">
<link href="/static/images/favicon.ico" type="image/icon" rel="icon">
<!--Google fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="navigation">
<ul>
<!--<li><img src="/static/images/LucyLogolarge.png"></li>-->
<li><a href="/">Home</a></li>
<li><a href="/about">About me</a></li>
<li><a href="https://github.com/lucywyman/arbitrary-converter">Github</a></li>
</ul>
</div>

{% block body %}
{% endblock %}
<div id="footer">
<div id="footercontent">
<p class="footerp">This site is made by me, <a href="https://github.com/lucywyman">Lucy Wyman</a>, and powered by <a href="http://flask.pocoo.org/">Flask</a></p>
<p class="footerp">You can email me with questions, comments, or suggestions at wyman.lucy@gmail.com</p>
</div>

</div>
</body>
